html {
  font-family: "Consolas", sans-serif;
}

body {
  width: 50%;
  max-width: 800px;
  min-width: 480px;
  margin: 0 auto;

  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a7f2ff;
}

.form input[type="number"] {
  width: 12.5rem;
}

.game-screen {
  background-color: #ebfcff;
  border: 0.2rem solid #0bb1ce;
  border-radius: 1.6rem;
  padding: 2rem;
}

.guessField {
  border: 0.13rem solid #0bb1ce;
}

.guessSubmit,
.retry-button {
  background-color: #0bb1ce;
  color: #ffffff;
  border: none;
  border-radius: 1rem;
  padding: 0.3rem;
}

.lastResult {
  color: black;
  padding: 5px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.guesses {
  color: #818181;
  padding: 3px;
  font-weight: bold;
}

.lowOrHi {
  background-color: #dddcd9;
  padding: 3px;
  text-align: center;
}
