header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0vw;
    background: white;
}

header h3 {
    color: #4A86FF;
    margin: 0;
    font-size: 3vw;
}

nav a {
    text-decoration: none;
    color: black;
    margin: 3vw;
    font-size: 2vw;
}
