.hobby {
    padding: 2vw;
}

.hobby h2 {
    color:#4A86FF;
    font-size: 3vw;
    text-align: center;
}

.hobby-box {
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3vw;
}

.hobby-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1vw;

    h3 {
        background-color: #4A86FF;
        color: white;
        text-align: center;
        padding: 1vw;
        border-radius: 10px;
    }
}

.hobby img {
    width: 15vw;
    height: 15vw;

}