/* 메인 소개글 */
.main-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  width: 100vw;
  height: 44vw;

  background-color: #4a86ff;

  p {
    color: #ffffff;
    font-weight: 800;
    font-family: "Inter", sans-serif;
    font-size: 4vw;
    margin: 0;
  }
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-profile-list {
  display: flex;
  justify-content: center;
  gap: 5vw;
  align-items: center;
}

.about-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.hobby-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hobby-box-list {
  display: flex;
  flex-direction: row;
}
