/* 기본 설정 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #f3f5ff;
}

/* 네비게이션 바 */
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  width: 100vw;
  padding: 1.4vw 0px;
}

.navbar-container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100vw;
}

.logo img {
  width: 17vw;
  margin-right: 20vw;
}

.navbar-list {
  display: flex;
  gap: 2rem;
  font-size: 1.2vw;
  font-weight: 500;

  a {
    text-decoration: none;
    color: #000000;

    &:hover {
      color: #4a86ff;
    }
  }
}

/* 메인 소개글 */
.main-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  width: 100vw;
  height: 44vw;

  background-color: #4a86ff;

  p {
    color: #ffffff;
    font-weight: 800;
    font-family: "Inter", sans-serif;
    font-size: 4vw;
    margin: 0;
    line-height: 1.5;
  }
}

/* ABOUT 본문 */
.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  color: #4a86ff;
  font-weight: 800;
  font-size: 3.5vw;
  padding: 3.12vw 0px;
}

h3 {
  color: #000000;
  font-size: 1.6vw;
  margin-bottom: 1.2vw;
}

.about-profile-list {
  display: flex;
  justify-content: center;
  gap: 2vw;
  align-items: center;

  margin-bottom: 7vw;
}

.about-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-color: #ffffff;
  width: 19.8vw;
  height: 25.9vw;
  border-radius: 0.83vw;

  padding: 2vw 4.8vw;

  img {
    width: 10.42vw;
    height: 10.42vw;
    border-radius: 100%;
    margin-bottom: 1.3vw;
  }

  #profile-name {
    color: #4a86ff;
    font-weight: bold;
    font-size: 1.8vw;
    margin-bottom: 1.3vw;
  }
}

.profile-detail {
  display: flex;
  flex-direction: column;
  gap: 1.2vw;
  text-align: start;
  color: #484a64;
  font-size: 1vw;

  i {
    font-size: 1.6vw;
    color: #bfc4d8;
  }
}

#profile-phone,
#profile-mail,
#profile-address {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.about-list {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  font-size: 1.25vw;
  font-weight: bold;
  color: #626682;

  height: 25.9vw;
  gap: 8vw;

  p {
    line-height: 1.5;
  }
}

.hobby-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 17.8vw;
}

.hobby-box-list {
  display: flex;
  flex-direction: row;
  gap: 1.1vw;
}

.hobby-box {
  background-color: #ffffff;
  border: #ebedf8;
  border-radius: 0.83vw;
  text-align: center;
  width: 19.8vw;

  p {
    background-color: #4a86ff;
    color: #ffffff;
    font-size: 1.6vw;
    font-weight: bold;
    border-radius: 0.83vw 0.83vw 0px 0px;
    padding: 1.1vw;
  }

  img {
    width: 15.6vw;
    height: 11.4vw;
    margin: 2vw;
    border-radius: 0.6vw;
  }
}
